.home-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #d7e3fc;
}

.home-nav {
    background-color: #5c87b3;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-left {
    display: flex;
    gap: 15px;
}
.nav-right {
    display: flex;
    align-items: center;
    gap: 15px;
}

.home-nav button {
    background: none;
    border: none;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    padding: 8px 12px;
    transition: 0.3s;
}

.home-nav button:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
}

.email {
    color: white;
    font-weight: bold;
}


.logout-btn {
    background-color: red;
    padding: 8px 12px;
    border-radius: 5px;
}

.logout-btn:hover {
    background-color: darkred;
}

/* BODY */
.home-body {
    flex: 1;
    display: flex;
    flex-direction: column;

}

.home-body h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    color: #333;
}

.home-body p {
    font-size: 1.2rem;
    color: #666;
}

/* RODAPÉ */
.home-footer {
    background-color: #8499b1;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 0.9rem;
}

.btn-eliminar-arquivo{
    background-color: #e93434;
    color: white;
    border: none;
    padding: 5px 10px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 4px;
    transition: background 0.3s;
}

.btn-eliminar-arquivo:hover{
    background-color: #ac2525;
    color: white;
    border: none;
    padding: 5px 10px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 4px;
    transition: background 0.3s;
}