
.tarefa-container {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 8px;
    width: 650px;
    max-width: 700px;
    margin: 20px auto;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

.tarefa-list {
    list-style-type: none;
    padding: 0;
}

.tarefa-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    gap: 8px;
    padding: 10px;
    margin-bottom: 8px;
    border-radius: 4px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.titulo {
    flex: 1;
    max-width: 80%;
    overflow: hidden;
    word-wrap: break-word;
    white-space: normal;
}

.btn-abrir-tarefa, .btn-voltar, .btn-arquivo, .btn-editar-tarefa, .btn-eliminar-tarefa {
    background-color: #3a6ea5;
    color: white;
    border: none;
    padding: 5px 10px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 4px;
    transition: background 0.3s;
}

.btn-eliminar-tarefa{
    background-color: #e93434;
}
.btn-eliminar-tarefa:hover{
    background-color: #ac2525;
}

.btn-abrir-tarefa:hover,.btn-voltar:hover , .btn-arquivo:hover{
    background-color: #0a1f3d;
}

.arquivo-list{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap:8px;
}

.tarefa-detalhe-container{
    display: flex;
    flex-direction: column;
    gap:10px;
}

.upload-input {
    width: 100%;
    max-width: 400px;
    padding: 12px;
    font-size: 16px;
    border: 2px dashed #3a6ea5; /* Borda tracejada como no Google Drive */
    border-radius: 10px; /* Bordas arredondadas */
    background-color: #f8f9fa;
    color: #333;
    text-align: center;
    outline: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.upload-input:hover {
    border-color: #0a1f3d;
    background-color: #e3e6ea;
}

.upload-input:focus {
    border-color: #ff9800;
    background-color: #fff3e0;
}
